
<head>
  {{>head}}
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    {{>nav}}
  </nav>
  <!-- END nav -->
  <section class="ftco-section bg-light">
    <div id="foo" class="container">
<marquee style='font-family:Fantasy ;color: '#000000'  scrollamount="15"'><h1>ComingSoon</h1></marquee>
<marquee style="font-family:Book Antiqua; color: #FFFFFF" bgcolor="#000080" scrollamount="30">_InterruptZero_</marquee>
</div>
</section>

<div id="contact">
<footer class="ftco-footer ftco-bg-dark ftco-section">
  {{>footer}}
</footer>
</div>
</body>
